* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  padding: 0px;
  /* border: 1px solid black; */
}

.App {
  height: 100dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

header {
  width: 98%;
  margin-top: 10px;
  /* position: fixed;
  top: 10px;
  left: 10px; */
}

.mainBanner {
  width: 90dvw;
  margin-bottom: 100px;
}
